<!--<spring:form class="form-signin" action="/register" method="post" modelAttribute="userDto">
  <h1 class="h3 mb-3 font-weight-normal">Registration form</h1>

  <label for="inputEmail" class="sr-only">Email address</label>
  <spring:input path="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"/>

  <label for="inputPassword" class="sr-only">Password</label>
  <spring:input path="password" type="password" id="inputPassword" class="form-control" placeholder="Password"/>

  <label for="inputPassword" class="sr-only">Repeat Password</label>
  <spring:input path="verifiedPassword" type="password" id="verifyPassword" class="form-control" placeholder="Password"/>

  <spring:errors path="password" cssClass="error"></spring:errors>
  <spring:errors path="verifiedPassword" cssClass="error"></spring:errors>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</spring:form>-->

<div class="form-signin">
  <h1 class="h4 mb-3 font-weight-normal">Registration form</h1>

  <div class="reg-form">
  <div>
    <label class="sr-only">Email address</label>
    <input #email (blur)="verifyEmail()" [(ngModel)]="user.email" type="email" class="form-control" placeholder="Email address"/>
    <div style="color: red" *ngIf="isEmailValid === false">Email already registered</div>
  </div>
  <div>
    <label class="sr-only">Password</label>
    <input #password [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password"/>
  </div>
  <div>
    <label class="sr-only">Repeat password</label>
    <input (blur)="comparePasswords()" #repeatPassword type="password" class="form-control" placeholder="Password"/>
  </div>
  </div>
  <button [disabled]="validateRegistrationForm()" style="width: 120px" class="btn btn-lg btn-primary btn-block" type="submit" (click)="createUser()">Register</button>

</div>
